@import url('https://fonts.googleapis.com/css?family=Yantramanav:300')

body
  font-family: 'Yantramanav', senf-serif
  font-size: 20px
  font-weight: 200
  padding: 50px
  background-color: #66ccff

#container
  display: flex
  justify-content: center

